@font-face {
    font-family: 'tlou';
    src: url(../assets/tlou/handwriting-black-draft_DEMO.otf);
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1px;
    width: 100%;
    overflow: hidden;
}

h1{
    font-size: 2.5rem;
    color: rgb(255, 0, 0);
    font-family: 'tlou';
}

h2{
    font-size: 2rem;
    color: white;
    font-family: 'tlou' ;
}

a{
    font-size: 2rem;
    color: white;
    font-family: 'tlou' ;
    text-decoration: none;
}

a:hover{
    font-size: 2.7rem;
    color: #ff0000;
    transition: 1.5s ease;
    text-decoration: none;
}

p{
    color: white;
    font-family: "Changa One", sans-serif;
}

img{
    height: 100%;
    width: 95%;
    object-fit: cover;
    border-radius: 20px;
}

button{
    background: none;
    border: none;
    padding: 10;
    color: rgb(255, 0, 0);
    text-decoration: underline;
    cursor: pointer;
    gap: 10px;
    font-size: 1.5rem;
    font-family: 'tlou';
    transition: 2s ease
}

section{
    padding: 15px;
    display: flex;
    justify-content: center;
}

.gradient{
    height: 100%;
    width: 700%;
    mask-image: linear-gradient(to  
    left, rgb(0, 0, 0), transparent);
    top: 0;
    left: 0;
    overflow: hidden;
}
#img img{
    opacity: 0;
    display: none;
    transition: 0.5s ease;
}
#img img.visible{
    opacity:1;
    display: block;
    transition: 0.5s ease;

}


/*caixa utilizada para fazer o cabeçalho da página*/
.cabeçalho{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid white;
    box-shadow: 2px;
    padding: 10px;
    gap:200px;
    height: 80px;
    width: 100%;
}

/*caixa usada para criar a tela de boas vindas*/
.Boas-vindas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px;
    padding: 10px;
    gap:200px;
    height: 500px;
    width: 600px;
    border: solid 2px white;
    border-radius: 20px;
}
/*caixa utilizada para organizar os elementos da pagina*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 500px;
    width: 100%;
}

/*classe usada para esconder as caixas*/
.class-escondida{
    display:none;
}

article {
    display: flex;
    gap: 20px;
}
.avancar_retornar{
    border: solid 2px black;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 7%;
    gap: 100px;
}
.avancar_retornar p{
    font-size: 3rem;
}